# ─── FastCaptcha ─────────────────────────────────────────────
# Get your free API key at https://fastcaptcha.org/accounts/signup/
FASTCAPTCHA_API_KEY=SgUTccOf5uKwD9YcKMfPdtBNnEADBvfz2otX_VbGEVefVElndurRQPm-mSsYZNQr

